<div class="blog">
    <section class="blog-head" style="background-image:url('media/uploads/2015/04/24/10408029_373963462780910_7013658840344281342_n.png');">&nbsp;</section>

    <section class="blog-content">
        <div class="inner">
            <div class="row">
                <div class="col-md-8 white-bg">
                    <div class="story">

                        <h2>Let&#39;s Get Started</h2>

                        <p class="date">on 24/04/2015</p>

                        <p>
                            A new year is undoubtedly a great time for a new start, or in our new National Philanthropy Manager's case, it's a great time to pledge more of the same. When Luke applied for the Nicest Job in Britain, he had been running his <a href="http://thegooddeeddiary.com">good deed diary</a> for over 250 days. In continuing right through to the end of the year, he completed 365 good deeds (including <a href="http://thegooddeeddiary.com/good-deed-365-final-deed">a particularly special 365th one</a>) as well as landing himself the nicest job in Britain.
                        </p>
                        <p>
                            Through the past year, he has already inspired many people around him to do more good and to consciously do something nice. As the Nicest Job in Britain kicks off and his mission to help 45 different charities begins, Luke is set to help and inspire many more.
                        </p>
                        <p>
                            After a couple of training weeks, Luke's journey begins by taking him to the first three amazing charities - Resources for Autism, Bag Books and Martin House.
                        </p>
                        <h3>Resources for Autism </h3>
                        <p>
                            This wonderful organisation is based in London and the West Midlands. They help to provide practical services for children and adults with an autistic spectrum condition as well as the families and carers around them. From fundraising to holiday schemes and play groups, the staff provide both care and understanding to those living with autism with the aim of helping them to manage and to have fun.
                        </p>
                        <p>
                            <a href="http://www.resourcesforautism.org.uk">More about Resources for Autism</a>
                        </p>
                        <h3>Bag Books </h3>
                        <p>
                            Bag Books is one of a kind. It provides multi-sensory books and storytelling for people with learning disabilities al across the UK. They bring stories to life through voice and emotion rather than words and pictures as well as providing workshops and craft-based opportunities for people with severe, profound and multiple learning disabilities.
                        </p>
                        <p>
                            <a href="http://www.bagbooks.org">More about Bag Books</a>
                        </p>
                        <h3>Martin House </h3>
                        <p>
                            Martin House is a purpose built hospice in Wetherby for children, young people and their families. Offering specialist care, short respite breaks, community support, bereavement support and many other hugely beneficial services. The team extends to include music therapists, artists and a clinical psychologist who all work to ensure the best quality of life for those in need.
                        </p>
                        <p>
                            <a href="http://www.martinhouse.org.uk">More about Martin House</a>
                        </p>
                        <p>
                            Luke will be writing a blog about each week of his job. Check back to learn more about these amazing charities and see how the Nicest Job in Britain is helping.
                        </p>

                        <div class="share-social">
                            <span>Share:</span>
                            <a class="facebook" href="#"></a>
                            <a class="tweet" href="http://utility-aid.co.uk/blog/2015/4/24/lets-get-started" title="Let&#39;s Get Started @UA_Energy"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="side">


                        <img src="media/author/LukeHeadShot.jpg" class="" alt="Luke Cameron" height="150" width="150">

                        <p class="author"><span>Author: </span>Luke Cameron</p>
                        <p class="bio">Good deed enthusiast Luke Cameron has the Nicest Job in Britain as UA's National Philanthropy Manager. Follow his journey as he travels the country helping a different charity each week.</p>

                    </div>
                    <div ng-include src="'views/blog/Latest.html'">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div ng-include src="'views/contact.html'">
</div>
<div ng-include src="'views/blog/share.html'">
</div>
