<div class="blog">
    <section class="blog-head"
             style="background-image:url('{{image1}}')">
        &nbsp;</section>

    <section class="blog-content">
        <div class="inner">
            <div class="row">
                <div class="col-md-8 white-bg">
                    <div class="story">

                        <h2>{{page_content_extended_title}}</h2>

                        <p class="date">on <span ng-bind="publish_date_0 |  date:'dd/MM/yyyy'"></span></p>

                        <!--<div ng-bind-html="editor1 | to_trusted"></div>-->
                        <div id="editor1"></div>
                        <div class="share-social">
                            <span>Share:</span>

                            <a class="facebook" href="#"></a>
                            <a class="tweet" href="#"
                               title="{{seo.pageTitle}} @UA_Energy"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="side" ng-repeat="data in Author">
                        <img src="{{data.image1}}" class="" alt="{{data.first_name}} {{data.last_name}}" height="150"
                             width="150">

                        <p class="author"><span>Author: </span>{{data.first_name}} {{data.last_name}}</p>

                        <p class="bio">{{data.bio}}</p>
                    </div>
                    <div class="articles">
                        <h3>More good news</h3>
                        <span ng-repeat="article in Article">
                        <a class="recent"
                           href="blog/{{formatDate(article.publish_date_0) |  date:'yyyy/M/d'}}/{{article.slug}}/">{{article.page_content_extended_title}}</a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div ng-include src="'views/contact.html'">
</div>
<!--<div ng-include src="'views/blog/share.html'">
</div>-->
<style>
    #editor1 {
        padding-left: 30px;
        padding-right: 60px;
    }

    #editor1 p {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>



