<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://utility-aid.co.uk" title="Back to site">Utility Aid</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <ul class="nav navbar-nav">
            <li class="menu-item first "><a href="/admin/home/">home page</a></li>
            <li class="menu-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown">why ua?<b
                    class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/admin/whyua/">why ua?</a></li>
                    <li><a href="/admin/bloglist/">Blogs</a></li>
                    <li><a href="/admin/authorlist/">Authors</a></li>
                </ul>
            </li>
            <li class="menu-item first "><a href="/admin/productlist/">our products</a></li>
            <!--<li class="menu-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown">our products<b
                    class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/admin/fps/">Fixed Price Strategy</a></li>
                    <li><a href="/admin/mts/">Market Trigger Strategy</a></li>
                    <li><a href="/admin/pms/">Portfolio Managed Strategy</a></li>
                    <li><a href="/admin/bes/">Bespoke Strategy</a></li>
                    <li><a href="/admin/bus/">Bureau Services</a></li>
                </ul>
            </li>-->
            <li class="menu-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown">our clients say<b
                    class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/admin/casestudylist/">Case Studies</a></li>
                    <li><a href="/admin/partnerlist/">Our Partners</a></li>
                </ul>
            </li>
            <li class="menu-item first "><a href="/admin/advisoryboard/">advisory board</a></li>
            <li class="menu-item first "><a href="/admin/newslist/">news</a></li>
            <li class="menu-item first "><a href="/admin/faq/">FAQs?</a></li>
            <li class="menu-item first "><a href="/admin/contactlist/">contact</a></li>
            <!--      <li class="menu-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown">policies <b
                          class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="/add-blog-admin">Privacy Policy</a></li>
                          <li><a href="/add-blog-admin">Environmental Policy</a></li>
                          <li><a href="/add-blog-admin">Bribery Act Statement</a></li>
                      </ul>
                  </li>
      -->
        </ul>


        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="/admin" target="_self">Log out</a>
            </li>
        </ul>

    </div>
    <!-- /.navbar-collapse -->
</nav>
<style>
    .navbar {
        margin-bottom: 0
    }
</style>
