<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://utility-aid.co.uk" title="Back to site">Utility Aid</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <ul class="nav navbar-nav">

            <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Templates <b
                    class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/add-blog-admin">Article</a></li>
                    <li><a href="/add-casestudy-admin">Case Studies</a></li>
                    <li><a href="/default">Default</a></li>
                </ul>
            </li>
            <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">CMS <b
                    class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/list-pages-admin">Pages</a></li>
                </ul>
            </li>
            <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b
                    class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/list-authors-admin">Authors</a></li>
                    <li><a href="/list-blogs-admin">Articles</a></li>
                </ul>
            </li>
            <li class="menu-item first "><a href="/list-people-admin">People </a></li>
            <li class="menu-item first "><a href="/list-partners-admin">Partners </a></li>
            <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Media <b
                    class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/image-background-admin">Upload background images</a></li>
                    <li><a href="/image-blog-admin">Upload blog images</a></li>
                    <li><a href="/image-author-admin">Upload author images</a></li>
                    <li><a href="/image-people-admin">Upload people images</a></li>
                    <li><a href="/image-partner-admin">Upload partner images</a></li>
                </ul>
            </li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="/admin/logout/">Log out</a>
            </li>
        </ul>

    </div>
    <!-- /.navbar-collapse -->
</nav>
<style>
    .navbar{margin-bottom: 0}
</style>