<div id="about">
    <section class="intro" style="background-image: url('{{image1}}');">
        <div class="inner">
            <h2>
                <div ng-bind-html="banner_title"></div>

                <br/>
                WE WANT TO <span>DO MORE</span> <img src="img/about/good-line.png" alt="">
            </h2>
        </div>
    </section>
    <section class="breakdown">
        <div class="inner">
            <h2><img src="img/about/breakdown-good.png" alt="Good"> <span>WORK</span>
                <br/><br/>

                <div ng-bind-html="block_1_title"></div>

            </h2>

            <div class="row process">
                <div class="col-sm-4">
                    <div class="large-icon appreciate">
                        <h2>
                            <div ng-bind-html="block_1_col_1_title"></div>
                        </h2>
                        <p ng-bind-html="editor1"></p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="large-icon analyse">
                        <h2>
                            <div ng-bind-html="block_1_col_2_title"></div>
                        </h2>
                        <p ng-bind-html="editor2"></p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="large-icon action">
                        <h2>
                            <div ng-bind-html="block_1_col_3_title"></div>
                        </h2>
                        <p ng-bind-html="editor3"></p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="people">
        <div class="inner">
            <h2><img src="img/about/breakdown-good.png" alt="Good"> <span>PEOPLE</span>
                <br/><br/>

                <div ng-bind-html="people_title"></div>
            </h2>
        </div>
    </section>

    <section class="staff">
        <div id="people_slider">
            <div class="people_container">
                <div class="people_slider">
                    <div class="product-list-item" ng-repeat="data in People" emit-last-repeater-element>
                        <div class="holder">
                            <div class="profile" style="background-image: url('{{data.image1}}')"></div>
                            <h2>{{data.people_person_1_name}}</h2>

                            <div class="title">{{data.people_person_1_position}}
                                <span>{{data.people_person_1_job}}</span>
                            </div>
                            <p>{{data.people_person_1_text}}</p>

                            <div ng-if="data.people_person_1_email!==''">
                                <a class="small-icons icon-email" href="mailto:{{data.people_person_1_email}}"
                                   title="Email {{data.people_person_1_name}}"></a>
                            </div>
                            <div ng-if="data.people_person_1_linkedin!==''">
                                <a class="small-icons icon-li"
                                   href="{{data.people_person_1_linkedin}}"
                                   title="{{data.people_person_1_name}} on LinkedIn"></a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="our-partners" id="about-partners">
        <div class="inner">
            <h2><span>OUR PARTNERS DOING MORE</span> <img src="img/about/partners-good.png" alt="Good"></h2>

            <div class="button-holder">
                <a class="btn btn-default" href="partners">View our partners</a>
            </div>
        </div>
    </section>

</div>

<div ng-include src="'views/contact.html'"></div>
<script>
    function CreateSlide() {
        try {
            $('#people_slider').append('<a href="#" class="previous"></a>');
            $('#people_slider').append('<a href="#" class="next"></a>');

            // How many mattresses
            var mattress_count = $('#people_slider .product-list-item').length;
            var mattress_width = $('#people_slider .product-list-item').width();
            var slider_width = $('#people_slider').width();
            // How many fit in slider
            var fits = slider_width / mattress_width;
            // How many are missing
            var hidden = mattress_count - fits;

            // Adjust slider
            $('.people_slider').css({'width': mattress_count * mattress_width});


            // Position arrows
            $('#people_slider .previous').hide().css({'top': 0, 'left': -60}).click(function (e) {
                e.preventDefault()
                if (hidden < (mattress_count - fits)) {
                    var passed = mattress_count - fits - hidden;
                    // Shift slider by one
                    $('.people_slider').stop().animate({'left': ((1 - passed) * mattress_width)}, 500);
                    // Decrement hidden
                    hidden += 1;
                }
                // Show or hide controls accordingly
                show_hide_controls();
            })
            $('#people_slider .next').css({'top': 0, 'right': -60}).click(function (e) {
                e.preventDefault()
                if (hidden > 0) {
                    var passed = mattress_count - fits - hidden;
                    // Shift slider by one
                    $('.people_slider').stop().animate({'left': -((1 + passed) * mattress_width)}, 500);
                    // Decrement hidden
                    hidden -= 1;
                }
                // Show or hide controls accordingly
                show_hide_controls();
            })

            function show_hide_controls() {
                if (hidden == 0) $('#people_slider .next').hide();
                else $('#people_slider .next').show();

                if (hidden == mattress_count - fits) $('#mattress_slider .previous').hide();
                else $('#people_slider .previous').show();
            }
        } catch (ex) {

        }
    }
</script>
<style>
    .row {
        margin-left: 0;
        margin-right: 0;
    }
</style>




