
<div id="about">
    <section class="intro">
        <div class="inner">
            <h2>
                WE COME TO WORK BECAUSE <br /><br />
                We're inspired by the organisations &amp; people we work with.
                We believe in what they believe in &amp; how they view the world.<br /><br />

                But more than anything else, we want to help them to continue making a difference - by saving them time and money when they source and purchase their energy.
                <br /><br />
                WE WANT TO <span>DO MORE</span> <img src="img/about/good-line.png" alt="">
            </h2>
        </div>
    </section>
    <section class="breakdown">
        <div class="inner">
            <h2>
                <img src="img/about/breakdown-good.png" alt="Good"> <span>WORK</span>
                <br /><br />
                The way we work is simple and structured with three clear stages determining positive changes. We always tailor to the case in hand and always aim to maximise good.
            </h2>

            <div class="row process" style="margin-right:0px;margin-left:0px">
                <div class="col-sm-4">
                    <div class="large-icon appreciate">
                        <h2>Appreciate</h2>
                        <p>
                            <span style="background-color: initial;">Our initial step is to gather information. We need to understand your current strategy and consumption. To do this, you will need to sign a Letter of Authority (LOA) which allows us to check this data. Knowing what there is to know, allows us to understand whats happening now and vitally, why changes will benefit your organisation.</span>
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="large-icon analyse">
                        <h2>Analyse</h2>
                        <p>
                            From what we know, where do we go? We qualify your consumption. We check you're on the right meter profiles. We review the cost of your existing tariffs and identify potential lower priced tariffs which will save you money. We develop an understanding of your processes and advise on a strategy that aligns with your budgetary needs.
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="large-icon action">
                        <h2>Action</h2>
                        <p>
                            <span style="background-color: initial;">Time to make some changes.</span>
                        </p>
                        <p>
                            When we've benchmarked your spend and identified reductions in consumption opportunities, we help establish a sustainable strategy that provides you with a clear and logical, stress free operation.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="people">
        <div class="inner">
            <h2>
                <img src="img/about/breakdown-good.png" alt="Good"> <span>PEOPLE</span>
                <br /><br />
                Our aims and objectives are clear to see but it's our people who drive them and make them happen.
            </h2>
        </div>
    </section>
    <section class="staff">
        <div id="people_slider">
            <div class="people_container">
                <div class="people_slider">
                    <div class="product-list-item">
                        <div class="holder">
                            <div class="profile giles"></div>
                            <h2>Giles Hankinson</h2>
                            <div class="title">CEO <span>Runs the place</span></div>
                            <p>With a wealth of experience and a passion for the industry, Giles heads up UA; keeping ethical practice firmly at its core.</p>
                            <a class="small-icons icon-email" href="mailto:GilesHankinson@utility-aid.co.uk" title="Email Giles Hankinson"></a>
                            <a class="small-icons icon-li" href="https://www.linkedin.com/pub/giles-hankinson/15/683/485" title="Giles Hankinson on LinkedIn"></a>
                        </div>
                    </div>
                    <div class="product-list-item">
                        <div class="holder">
                            <div class="profile william"></div>
                            <h2>William Campbell</h2>
                            <div class="title">Commercial Director <span>Builds partnerships</span></div>
                            <p>&#39;No frills, just skills&#39; is William&#39;s mantra. He&#39;s committed to implementing the vital changes needed in a time of supply crisis.</p>
                            <a class="small-icons icon-email" href="mailto:GilesHankinson@utility-aid.co.uk" title="Email William Campbell"></a>
                            <a class="small-icons icon-li" href="https://uk.linkedin.com/pub/william-campbell/52/769/519" title="William Campbell on LinkedIn"></a>
                        </div>
                    </div>
                    <div class="product-list-item">
                        <div class="holder">
                            <div class="profile paul"></div>
                            <h2>Paul Dunkley</h2>
                            <div class="title">Finance Director <span>Crunches numbers</span></div>
                            <p>Every good business needs someone who owns the numbers. Our guy is Paul and he keeps the ship steered straight.</p>
                            <a class="small-icons icon-email" href="mailto:GilesHankinson@utility-aid.co.uk" title="Email Paul Dunkley"></a>

                        </div>
                    </div>
                    <div class="product-list-item">
                        <div class="holder">
                            <div class="profile andy"></div>
                            <h2>Andy Homer</h2>
                            <div class="title">Non-executive Chairman <span>Has a vision</span></div>
                            <p>Andy is all about the positives. He's building on strengths, has a personable approach and is taking us on an exciting journey.</p>
                        </div>
                    </div>
                    <div class="product-list-item">
                        <div class="holder">
                            <div class="profile gary"></div>
                            <h2>Gary Blowers</h2>
                            <div class="title">Non-executive<br /> Marketing Director <span>Tunes our voice</span></div>
                            <p>Gary brings people-facing finesse to the table. He's crafting our look, carving our feel and helping us speak to the world.</p>
                            <a class="small-icons icon-email" href="mailto:gary@viva-worldwide.com" title="Email Gary Blowers"></a>
                            <a class="small-icons icon-li" href="https://www.linkedin.com/in/garyblowers" title="Gary Blowers on LinkedIn"></a>
                        </div>
                    </div>
                    <div class="product-list-item">
                        <div class="holder">
                            <div class="profile aisha"></div>
                            <h2>Aisha Clayton</h2>
                            <div class="title">Sales Executive <span>Helps us grow</span></div>
                            <p>Having account managed some of the biggest clients in the business, one thing's for sure: you're in safe hands with Aisha.</p>
                            <a class="small-icons icon-email" href="mailto:AClayton@utility-aid.co.uk" title="Email Aisha Clayton"></a>
                            <a class="small-icons icon-li" href="http://uk.linkedin.com/pub/aisha-clayton/86/b39/760" title="Aisha Clayton on LinkedIn"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our-partners" id="about-partners">
        <div class="inner">
            <h2><span>OUR PARTNERS DOING MORE</span> <img src="img/about/partners-good.png" alt="Good"></h2>

            <div class="button-holder">
                <a class="btn btn-default" href="#partners">View our partners</a>
            </div>
        </div>
    </section>
</div>
<div ng-include src="'views/contact.html'"></div>
<script>

    try {
        $('#people_slider').append('<a href="#" class="previous"></a>');
        $('#people_slider').append('<a href="#" class="next"></a>');

        // How many mattresses
        var mattress_count = $('#people_slider .product-list-item').length;
        var mattress_width = $('#people_slider .product-list-item').width();
        var slider_width = $('#people_slider').width();
        // How many fit in slider
        var fits = slider_width / mattress_width;
        // How many are missing
        var hidden = mattress_count - fits;

        // Adjust slider
        $('.people_slider').css({ 'width': mattress_count * mattress_width });


        // Position arrows
        $('#people_slider .previous').hide().css({ 'top': 0, 'left': -60 }).click(function (e) {
            e.preventDefault()
            if (hidden < (mattress_count - fits)) {
                var passed = mattress_count - fits - hidden;
                // Shift slider by one
                $('.people_slider').stop().animate({ 'left': ((1 - passed) * mattress_width) }, 500);
                // Decrement hidden
                hidden += 1;
            }
            // Show or hide controls accordingly
            show_hide_controls();
        })
        $('#people_slider .next').css({ 'top': 0, 'right': -60 }).click(function (e) {
            e.preventDefault()
            if (hidden > 0) {
                var passed = mattress_count - fits - hidden;
                // Shift slider by one
                $('.people_slider').stop().animate({ 'left': -((1 + passed) * mattress_width) }, 500);
                // Decrement hidden
                hidden -= 1;
            }
            // Show or hide controls accordingly
            show_hide_controls();
        })

        function show_hide_controls() {
            if (hidden == 0) $('#people_slider .next').hide();
            else $('#people_slider .next').show();

            if (hidden == mattress_count - fits) $('#mattress_slider .previous').hide();
            else $('#people_slider .previous').show();
        }
    } catch (ex) { }

</script>




