<header class="header">

    <div class="text-vertical-center">
        <h1 class="heading_text"><span class="fontBold">advisory board</span>
        </h1>

    </div>
</header>
<section class="advisory lightBlue" style="background-color: #17252a">
    <div class="container-fluid" style="max-width: 1000px">
        <div class="text-center">
            <h2>UA are proud to be the only energy broker in the UK that employs an
                Independent
                Advisory Panel. The panel is there for the benefit of customers requiring advisory services relating to
                a range of topics including Ethics, Regulation, Lobbying, Trading, Volume Purchasing, Fixed and Flexible
                products and Exotic Instruments.</h2>
            <br>

            <div>
                <h3>The panel includes:</h3>
                <img src="img/advisoryboard/advisory1.png">

                <h3>Sir Stephen Bubb, the CEO of ACEVO, and former officer to both the TGWU and NUT. </h3>

                <p>
                    Sir Stephen has also been an Advisor to the Association of Metropolitan Authorities. He is highly
                    regarded amongst all political parties, not least for promoting choice and competition in public
                    services. Sir Stephen has also acted as a Youth Court Magistrate in inner London.
                </p>
            </div>
            <div>
                <img src="img/advisoryboard/advisory2.png">

                <h3>James Summerbell: the former Head of Energy at Tesco Group Plc </h3>

                <p>where he was responsible for the strategic energy procurement of 500 million per annum. He has also
                    acted as an advisor to the MUEC (Major Users Energy Council) and been a consultant at PwC. James is
                    a CIMA Chartered Management Accountant</p>
            </div>
            <div>
                <img src="img/advisoryboard/advisory3.png">

                <h3>Guy Thompson: Guy is an FCA approved senior energy specialist.</h3>

                <p>Having worked on the trading desk for various organisations including Utility,
                    Energyquote, Macquarie, NPower and Corona. He has a comprehensive understanding of options and
                    structured </p>
            </div>
            <br>
            <a href="https://utilityaid.uaenergy.co.uk/" class="btnFindOutMore fontBold">find out more</a>
        </div>
    </div>
</section>
<style>

    .header {
        background: url('img/advisoryboard/advisoryboard.jpg') no-repeat center center fixed;
        display: table;
        position: relative;
        width: 100%;
        height: 70%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    @media (max-width: 768px) {
        .header {
            background-attachment: scroll;
        }
    }




</style>