<header class="header">

    <div class="text-vertical-center">
        <h1 class="heading_text"><span class="fontBold">advisory board</span>
        </h1>

    </div>
</header>
<section class="advisory lightBlue" style="background-color: #17252a">
    <div class="container-fluid" style="max-width: 1000px">
        <div class="text-center">
            <h2 id="titletext"></h2>
            <br>

            <div>
                <h3>The panel includes:</h3>
                <img src="img/advisoryboard/advisory1.png">

                <h3 id="person1"></h3>

                <p id="person1_description">

                </p>
            </div>
            <div>
                <img src="img/advisoryboard/advisory2.png">

                <h3 id="person2"></h3>

                <p id="person2_description">

                </p>
            </div>
            <div>
                <img src="img/advisoryboard/advisory3.png">

                <h3 id="person3"></h3>

                <p id="person3_description">

                </p>
            </div>
            <br>
            <!--<a href="https://utilityaid.uaenergy.co.uk/" class="btnFindOutMore fontBold">find out more</a>-->
        </div>
    </div>
</section>
<style>

    .header {
        background: url('img/advisoryboard/advisoryboard.jpg') no-repeat center center fixed;
        display: table;
        position: relative;
        width: 100%;
        height: 70%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    @media (max-width: 768px) {
        .header {
            background-attachment: scroll;
        }
    }


</style>