<div ng-include src="'views/partials/header.html'"></div>
<div class="blog-landing">
    <section class="blog-head" style="background-image: url('img/blog/header.jpg');">
        <div class="inner">
            <h2>Read about how <strong>ua</strong> are doing more <img src="img/blog/header_good_white.png" class="good"></h2>
        </div>
    </section>
    <div class="inner">
        <div id="blog-contents">
            <div class="item">
                <a class="post" href="#blog/2015/5/22/week-18-reflection">
                    <img class="main-pic" src="media/cache/52/93/52934c1bb74016e80ea51234f99f04dc.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 18 - Reflection
                        </h2>
                        <p class="date">
                            Posted on <span>22 May 2015</span>
                        </p>
                        <p class="four-lines">
                            This week I had a well deserved break from charities and reflected on the past 17
                            weeks.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/19/week-17-great-western-air-ambulance">
                    <img class="main-pic" src="media/cache/9a/57/9a57da9cf20c400ba8b1768b41b8a7d5.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 17 - Great Western Air Ambulance | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>19 May 2015</span>
                        </p>
                        <p class="four-lines">
                            Swooping in and saving lives - This week I was with the irreplaceable Great Western
                            Air Ambulance.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/19/week-16-marie-curie">
                    <img class="main-pic" src="media/cache/0f/34/0f34f3c35c070dc0adc74fc2589188ef.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 16 - Marie Curie | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>19 May 2015</span>
                        </p>
                        <p class="four-lines">
                            From painting bedrooms at a hospice to tea with the Chief Exec. My week with Marie
                            Curie was humbling.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/19/week-15-lively-minds">
                    <img class="main-pic" src="media/cache/3c/c8/3cc8e898587eaac8dc699b04316e9bf4.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 15 - Lively Minds | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>19 May 2015</span>
                        </p>
                        <p class="four-lines">
                            This week I was with Lively Minds - A UK based charity that helps educate children
                            in Africa.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/18/week-14-cuan-wildlife-rescue">
                    <img class="main-pic" src="media/cache/fb/15/fb15eb83576fbf666f180f9e7829e636.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 14 - Cuan Wildlife Rescue | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>18 May 2015</span>
                        </p>
                        <p class="four-lines">
                            This week I fed baby squirrels and blackbirds with Cuan Wildlife Rescue.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/18/week-13---wood-green">
                    <img class="main-pic" src="media/cache/ca/31/ca31018684e0cca86e065f5f48dda293.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 13 - Wood Green | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>18 May 2015</span>
                        </p>
                        <p class="four-lines">
                            Unlucky for some, week 13 was anything but unlucky. I spent it with Wood Green,
                            the animals charity and had a blast. I even got to go into surgery and save some
                            lives!
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/18/week-12-national-trust">
                    <img class="main-pic" src="media/cache/0d/67/0d67095495b7d2f1ac7f445ce8c043f1.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 12 - National Trust | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>18 May 2015</span>
                        </p>
                        <p class="four-lines">
                            This weeks charity doesn&#39;t need any introduction. I was with the National Trust
                            at the beautiful Cliveden site helping the staff manage the hoards of Easter crowds.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/18/week-11-british-heart-foundation">
                    <img class="main-pic" src="media/cache/60/73/607332799324ee67ad0ebd012eb4dfa1.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 11 - British Heart Foundation | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>18 May 2015</span>
                        </p>
                        <p class="four-lines">
                            After falling unwell at just 8 years old I was rushed into hospital for pioneering
                            open heart surgery. The British Heart Foundation saved my life, so I spent my week
                            giving back to the charity that gave me a second chance.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/18/week-10-animal-rescue-cumbria">
                    <img class="main-pic" src="media/cache/c1/a3/c1a301bae9ab4e0540ba88754aa612e8.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 10 - Animal Rescue Cumbria | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>18 May 2015</span>
                        </p>
                        <p class="four-lines">
                            Week 10 saw me in the beautiful Lake District with Animal Rescue Cumbria. A rescue
                            centre of abandoned dogs and cats.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/18/week-9---sibs">
                    <img class="main-pic" src="media/cache/a5/44/a544451a59a5fe801f843304adc288d3.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 9 - Sibs | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>18 May 2015</span>
                        </p>
                        <p class="four-lines">
                            This week I travelled from West Yorkshire to London and back meeting individuals
                            who care for their brothers and sisters with learning disabilities.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/18/week-8-brain-tumour-research">
                    <img class="main-pic" src="media/cache/86/27/86277b757412bc4fc3e0ffb901e0e6b3.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 8 - Brain Tumour Research | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>18 May 2015</span>
                        </p>
                        <p class="four-lines">
                            A commercial week packing and fulfilling orders with the Brain Tumour Research team.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/18/week-7-rospa">
                    <img class="main-pic" src="media/cache/72/b3/72b3c65cdc8c3fb94c5e5711b123513c.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 7 - RoSPA | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>18 May 2015</span>
                        </p>
                        <p class="four-lines">
                            Luke had an educational week at the Royal Society for the Prevention of Accidents,
                            learning all about how them campaign for a safer Britain.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/18/week-6-guide-dogs-for-the-blind">
                    <img class="main-pic" src="media/cache/61/5d/615dda03e8f1c787053b4c6ad7a6cd05.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 6 - Guide Dogs for the Blind | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>18 May 2015</span>
                        </p>
                        <p class="four-lines">
                            This week Luke was at Guide Dogs for the Blind. From blindfold walking to puppy
                            cuddling he definitely had the best week!
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/18/week-5-cystic-fibrosis-trust">
                    <img class="main-pic" src="media/cache/66/e1/66e19cf48c887174f4ab26cbe12b03e0.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 5 - Cystic Fibrosis Trust | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>18 May 2015</span>
                        </p>
                        <p class="four-lines">
                            Week 5 was spent at the Cystic Fibrosis Trust in Kent. Being the only CF charity
                            in the country, it was an eye opening look into the world of Cystic Fibrosis.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/18/week-4-bliss">
                    <img class="main-pic" src="media/cache/af/f4/aff4e9b8baed8cb9742738e7c3926d20.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 4 - Bliss | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>18 May 2015</span>
                        </p>
                        <p class="four-lines">
                            This week I spent my week in hospital with Bliss, a charity that looks after babies
                            who are born too soon or too sick.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/5/18/week-3---martin-house">
                    <img class="main-pic" src="media/cache/7c/04/7c046a2eafe55f72d6f070b1ab0f707f.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 3 - Martin House | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>18 May 2015</span>
                        </p>
                        <p class="four-lines">
                            Luke spent his week at the Leeds based children&#39;s hospice Martin House.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/4/24/week-2---bag-books">
                    <img class="main-pic" src="media/cache/2b/25/2b2572d4bf7c25c7473e7072a6033b30.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 2 - Bag Books | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>24 April 2015</span>
                        </p>
                        <p class="four-lines">
                            This week saw me at the south London charity Bag Books making multi-sensory learning
                            aids for severely disabled children
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/4/24/resources-for-autism">
                    <img class="main-pic" src="media/cache/e9/37/e937e1b1a1928368ea107b139b7db913.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Week 1 - Resources for Autism | NJIB
                        </h2>
                        <p class="date">
                            Posted on <span>24 April 2015</span>
                        </p>
                        <p class="four-lines">
                            This week saw me visit Resources for Autism and help the amazing team deal with
                            the daily struggles of living with autism.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/4/24/out-and-about">
                    <img class="main-pic" src="media/cache/aa/53/aa53755658b877b1a53aede81cc34797.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Out and About
                        </h2>
                        <p class="date">
                            Posted on <span>24 April 2015</span>
                        </p>
                        <p class="four-lines">
                            A week of meeting and greeting some more of the wonderful UA team as well as headline
                            sponsors British Gas.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/4/24/my-first-week">
                    <img class="main-pic" src="media/cache/16/82/16821a4a45f95511666b8ba4c4ab320a.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            My First Week
                        </h2>
                        <p class="date">
                            Posted on <span>24 April 2015</span>
                        </p>
                        <p class="four-lines">
                            My first week with UA has been not only incredible but also inspiring. Learning
                            about all the great work UA do and what my role is as National Philanthropy Manager.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2015/4/24/lets-get-started">
                    <img class="main-pic" src="media/cache/61/15/6115039c1250be11a93cff64d62844d8.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Let&#39;s Get Started
                        </h2>
                        <p class="date">
                            Posted on <span>24 April 2015</span>
                        </p>
                        <p class="four-lines">
                            With 45 charities lined up and an army of supporters ready to cheer him on. Luke&#39;s
                            journey begins.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2014/12/8/supporting-yateley-industries">
                    <img class="main-pic" src="media/cache/95/d6/95d6d1be13d41bf4621e5e3dbe5b9ba8.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Supporting Yateley Industries
                        </h2>
                        <p class="date">
                            Posted on <span>08 December 2014</span>
                        </p>
                        <p class="four-lines">
                            UA are proud to support Yateley Industries, who are doing more good for people living
                            with disabilities.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2014/10/29/managing-your-metering-services">
                    <img class="main-pic" src="media/cache/01/ae/01ae45d5f1429ca6d5839e8a64844ab7.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Managing Your Metering Services
                        </h2>
                        <p class="date">
                            Posted on <span>29 October 2014</span>
                        </p>
                        <p class="four-lines">
                            When it comes to metering, we&#39;re here to help. With advice for implementing
                            changes and information about savings to be made.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2014/10/22/switch-to-save-with-ua">
                    <img class="main-pic" src="media/cache/81/1f/811f9dae40f94e3dbf18ef06897ae99b.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Switch to Save with UA
                        </h2>
                        <p class="date">
                            Posted on <span>22 October 2014</span>
                        </p>
                        <p class="four-lines">
                            You could be missing out on valuable savings, let us help you out.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2014/9/19/the-energy-event-2014">
                    <img class="main-pic" src="media/cache/ed/b2/edb2ec3bcad5c30f634145655a6ca1f6.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            The Energy Event 2014
                        </h2>
                        <p class="date">
                            Posted on <span>19 September 2014</span>
                        </p>
                        <p class="four-lines">
                            Something a little different from UA at this year&#39;s Energy Event.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2014/9/8/the-nicest-job-in-britain">
                    <img class="main-pic" src="media/cache/2b/08/2b08da7786ecddb16479c6a133bc553f.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Introducing... The Nicest Job in Britain
                        </h2>
                        <p class="date">
                            Posted on <span>08 September 2014</span>
                        </p>
                        <p class="four-lines">
                            We&#39;re hiring! But this isn&#39;t your regular day job.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2014/8/22/tackling-fuel-poverty-with-jrht">
                    <img class="main-pic" src="media/cache/f1/25/f125d062bec96c13f050151bbee9e1a6.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            Tackling Fuel Poverty with JRHT
                        </h2>
                        <p class="date">
                            Posted on <span>22 August 2014</span>
                        </p>
                        <p class="four-lines">
                            An exciting new scheme that delves a little deeper.
                        </p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="post" href="#blog/2014/8/4/were-proud-to-introduce-you-to-the-new-look-ua">
                    <img class="main-pic" src="media/cache/dd/2f/dd2f802cea1477ff2d9032d6dba4226b.jpg"
                         style="height: 200px;" />
                    <div class="info">
                        <h2 class="three-lines">
                            We&#39;re proud to introduce you to the new look UA
                        </h2>
                        <p class="date">
                            Posted on <span>04 August 2014</span>
                        </p>
                        <p class="four-lines">
                            We&#39;ve been back to the drawing board...
                        </p>
                    </div>
                </a>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
<script src="js/masonry.pkgd.min.js"></script>
<script>
    var container = document.querySelector('#blog-contents');
    var msnry = new Masonry(container, {
        // options
        columnWidth: 320,
        itemSelector: '.item'
    });
</script>
<div ng-include src="'views/contact.html'"></div>