<div class="blog-landing">
    <section class="blog-head" style="background-image: url('img/blog/header.jpg');">
        <div class="inner">
            <h2>Read about how <strong>ua</strong> are doing more <img src="img/blog/header_good_white.png"
                                                                       class="good"></h2>
        </div>
    </section>

    <div class="inner">
        <div id="blog-contents">
            <div class="item" ng-repeat="data in Blogs" emit-last-repeater-element>
                <a class="post" href="blog/{{formatDate(data.publish_date_0) |  date:'yyyy/M/d'}}/{{data.slug}}/">
                    <img class="main-pic" src="{{data.thumbImage}}"
                         style="height: 200px;width: 100%;object-fit: cover;object-position: center;"/>

                    <div class="info">
                        <h2 class="three-lines">
                            {{data.page_content_extended_title}}
                        </h2>

                        <p class="date">
                            Posted on <span ng-bind="formatDate(data.publish_date_0) |  date:'dd MMMM yyyy'"></span>
                        </p>

                        <p class="four-lines">
                            {{data.page_content_excerpt}}
                        </p>
                    </div>
                </a>
            </div>

            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
<script src="js/masonry.pkgd.min.js"></script>
<script>
    function CreateMsnry() {
        $('#blog-contents').masonry({
            itemSelector: '.item',
            columnWidth: 320
        });
    }
</script>
<div ng-include src="'views/contact.html'"></div>