<div class="case-studies">
    <section class="case-studies-head" style="background-image: url('img/case-study/header.jpg');">
        <div class="inner">
            <h2>A small sample of the near 2,000 organisations <strong>ua</strong> are helping do more <img
                    src="img/blog/header_good_white.png" class="good"></h2>
        </div>
    </section>
    <div class="inner">
        <div id="case-study-items">
            <div class="item" ng-repeat="data in CaseStudies" emit-last-repeater-element>
                <a class="post" href="case-studies/{{data.slug}}/">
                    <img class="main-pic" src="{{data.thumbImage}}"
                         style="height: 200px;width: 100%;object-fit: cover;object-position: center;">

                    <div class="info">
                        <h2>{{data.title}}</h2>

                        <p>{{data.home_page_listing_excerpt}}</p>
                    </div>
                </a>
            </div>

        </div>
        <div class="clearfix"></div>

    </div>

</div>


<script src="js/masonry.pkgd.min.js"></script>
<script>
    setTimeout(function () {
        var $container = $('#case-study-items');
        $container.masonry({
            itemSelector: '.item',
            columnWidth: 320
        });
    }, 1000);

</script>


<div ng-include src="'views/contact.html'"></div>
