<div id="home">
    <section class="intro" style='background-image: url({{image1}})'>
        <div class="inner">

            <h1>
                <div ng-bind-html="page_content_banner_text"></div>
            </h1>
            <img src="img/home/do-more-good.png" alt="Do More Good">

            <div class="button-holder">
                <a class="btn btn-default" href="{{page_content_story_button_link}}" target="_self">
                    <div ng-bind-html="page_content_story_button_text"></div>
                </a>
            </div>
            <div class="scroll">
                <p>scroll down</p>

                <div class="mouse"></div>
            </div>
        </div>
    </section>
    <section class="home-case-study" style="background-image:url('{{image2}}');">
        <div class="inner">
            <p>Some of our</p>
            <img class="gw" src="img/home/case-study/good-work.png" alt="Good work"><br/>

            <h2 class="company">
                <div ng-bind-html="home_page_feature_title"></div>
            </h2>

            <img class="plus" src="img/home/case-study/plus.png" alt="">

            <h2>
                <div ng-bind-html="home_page_ua_action"></div>
            </h2>

            <div class="button-holder">
                <a class="btn btn-default" href="case-studies/{{slug2}}/"  target="_self">
                    <div ng-bind-html="home_page_case_study_button_text"></div>
                </a>
            </div>
        </div>
    </section>
    <section class="njib" id="hiring">
        <div class="inner">
            <h2>The Nicest Job in Britain</h2>
            <iframe width="520" height="293" src="//www.youtube.com/embed/UGKJNJhQY6c?rel=0" frameborder="0"
                    allowfullscreen=""></iframe>
            <div class="button-holder">
                <p>Find out about the journey to find our 2015 National Philanthropy Manager</p>
                <a class="btn btn-default" href="http://www.nicestjobinbritain.co.uk/blog">Follow Luke's journey</a>
            </div>
        </div>
    </section>
</div>
<div ng-include src="'views/contact.html'"></div>
