<div id="partners">
    <div class="logos">
        <div class="inner">

            <div class="row">
                <div class="col-md-3">
                    <a href="http://www.navca.org.uk" target="_blank">
                        <img src="img/partners/navca_logo.png" class="" title="navca - local focus national voice" alt="navca - local focus national voice">

                        <span>navca</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.icaew.com" target="_blank">
                        <img src="img/partners/icaew_logo.png" class="" title="ICAEW" alt="ICAEW">

                        <span>ICAEW Chartered Accountants</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.scvo.org.uk" target="_blank">
                        <img src="img/partners/scvo_logo.png" class="" title="Scottish Council for Voluntary Organisations" alt="Scottish Council for Voluntary Organisations">

                        <span>Scottish Council for Voluntary Organisations</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.artsquarter.co.uk" target="_blank">
                        <img src="img/partners/aq_logo.png" title="arts quarter" alt="arts quarter">

                        <span>arts quarter</span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <a href="http://www.wcva.org.uk" target="_blank">
                        <img src="img/partners/wcva_logo.png" title="Wales Council for Voluntary Action" alt="Wales Council for Voluntary Action">
                        <span>Wales Council for Voluntary Action</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.cfg.org.uk" target="_blank">
                        <img src="img/partners/cfg_logo.png" title="Inspiring Financial Leadership" alt="Inspiring Financial Leadership">
                        <span>Inspiring Financial Leadership</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.skillsactive.com" target="_blank">
                        <img src="img/partners/skillsactive_logo.png" title="SkillsActive" alt="SkillsActive">
                        <span>SkillsActive</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.sportandrecreation.org.uk" target="_blank">
                        <img src="img/partners/sra_logo.png" title="Sports Recreation Alliance" alt="Sports Recreation Alliance">
                        <span>Sports Recreation Alliance</span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <a href="http://cscbg.org.uk" target="_blank">
                        <img src="img/partners/csc_logo.png" title="Christian Supply Chain Buying Group UK" alt="Christian Supply Chain Buying Group UK">
                        <span>Christian Supply Chain Buying Group UK</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.logicareplus.co.uk" target="_blank">
                        <img src="img/partners/logicare_plus_logo.png" title="logicare plus" alt="logicare plus">
                        <span>logicare plus</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.charitiesbuyinggroup.com" target="_blank">
                        <img src="img/partners/cbg_logo.png" title="Charities Buying Group" alt="Charities Buying Group">
                        <span>Charities Buying Group</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://energy4sports.org" target="_blank">
                        <img src="img/partners/e4sr_logo.png" title="Energy 4 Sport Recreation" alt="Energy 4 Sport Recreation">
                        <span>Energy 4 Sport Recreation</span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <a href="http://www.thebridgeforheroes.org" target="_blank">
                        <img src="img/partners/bridge_heroes_logo.png" title="The Bridge for Heroes" alt="The Bridge for Heroes">
                        <span>The Bridge for Heroes</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.businesssensefm.co.uk" target="_blank">
                        <img src="img/partners/business_sense_logo.png" title="Business Sense" alt="Business Sense">
                        <span>Business Sense</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.tt-exchange.org" target="_blank">
                        <img src="img/partners/charity_technology_logo.png" title="Charity Technology Trust" alt="Charity Technology Trust">
                        <span>Charity Technology Trust</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.family-doctor.org.uk" target="_blank">
                        <img src="img/partners/fda_logo.png" title="Family Doctor Association" alt="Family Doctor Association">
                        <span>Family Doctor Association</span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <a href="http://www.sfha.co.uk" target="_blank">
                        <img src="img/partners/sfha_logo.png" title="Scottish Federation of Housing Associations" alt="Scottish Federation of Housing Associations">
                        <span>Scottish Federation of Housing Associations</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.smallcharities.org.uk" target="_blank">
                        <img src="img/partners/scc_logo.png" title="Small Charities Coalition" alt="Small Charities Coalition">
                        <span>Small Charities Coalition</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://mccsolution.co.uk" target="_blank">
                        <img src="img/partners/mcc_logo.png" title="Mobile Corporate Communications Solution" alt="Mobile Corporate Communications Solution">
                        <span>Mobile Corporate Communications Solution</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.nottenergy.com" target="_blank">
                        <img src="img/partners/nep_logo.png" title="Nottingham Energy Partnership" alt="Nottingham Energy Partnership">
                        <span>Nottingham Energy Partnership</span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <a href="http://www.socialenterprisewm.org.uk" target="_blank">
                        <img src="img/partners/social_enterprise_logo.png" title="Social Enterprise West Midlands" alt="Social Enterprise West Midlands" style="max-width: 200px;">
                        <span>Social Enterprise West Midlands</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.ymca.org.uk" target="_blank">
                        <img src="img/partners/ymca_logo.png" title="YMCA" alt="YMCA">
                        <span>YMCA</span>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="http://www.instituteofhospitality.org" target="_blank">
                        <img src="img/partners/institute_hospitality_logo.png" title="Institute of Hospitality" alt="Institute of Hospitality">
                        <span>Institute of Hospitality</span>
                    </a>
                </div>
            </div>



            <!--  			<div class="row">
                            <div style="max-width: 200px; margin: 0 auto;" class="middle-one">
                                <a href="http://www.socialenterprisewm.org.uk" target="_blank">
                                    <img src="img/partners/social_enterprise_logo.png" title="Social Enterprise West Midlands" alt="Social Enterprise West Midlands" style="max-width: 200px;">
                                    <span>Social Enterprise West Midlands</span>
                                </a>
                            </div>
                        </div>
             -->
            <div class="button-holder">
                <a class="btn btn-default" href="#about">Return to About</a>
                <!-- 				<a class="btn btn-default" href="#">Print as a PDF</a>
                 -->
            </div>

        </div>
    </div>
</div>
<div ng-include src="'views/contact.html'"></div>