


<div id="request">
    <section class="intro">
        <div class="inner">
            <!-- 			<h2>Keep in touch</h2>
             -->
        </div>
    </section>
    <section class="details">
        <div class="inner">

            <h2>Drop your details in below and we'll be in touch</h2>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Please confirm your email address</h3>
                    <form action="/subscribe" method="post" id="cm_form">
                        <div class="control-group">
                            <div class="controls">
                                <input class="form-control" id="id_email" name="email" type="text" />
                            </div>
                        </div>





                        <input id="id_lists" name="lists" type="hidden" value="db6c8488fed751f38ab8c9a693c91dc4" />



                        <div class="row">
                            <!-- Textarea -->
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-default">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<div ng-include src="'views/contact.html'"></div>
