<div id="request">
    <section class="intro">
        <div class="inner">
            <!-- 			<h2>Keep in touch</h2>
             -->
        </div>
    </section>
    <section class="details">
        <div class="inner">
            <h2>Drop your details in below and we'll be in touch</h2>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Please confirm your email address</h3>

                    <form action="http://newsletter.utility-aid.co.uk/t/i/s/diwe/" method="post" id="subForm">
                        <div class="control-group">
                            <div class="controls">
                                <input class="form-control" id="fieldEmail" name="cm-diwe-diwe" type="email" required/>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Textarea -->
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-default">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<div ng-include src="'views/contact.html'"></div>
<script>
    var query = window.location.href;
    var email = query.split('=')[1];
    if (email != '') {
        $("#fieldEmail").val(email);
        if(validateEmail(email)){
            $("#subForm").submit();
        }
    }
    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
</script>
