<div id="request">
    <section class="intro">
        <div class="inner">
        </div>
    </section>
    <section class="details">
        <div class="inner">
            <h2>Drop your details in below and we'll be in touch</h2>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Please confirm your email address</h3>

                    <div class="alert alert-success">Thank you for your subscription.</div>
                </div>
            </div>
        </div>
    </section>
</div>
<div ng-include src="'views/contact.html'"></div>
