<header class="header">
    <div class="text-vertical-center">
        <h1 class="heading_text"><span class="fontBold"></span>
        </h1>
    </div>
</header>
<section >
    <div class="container " style="padding-top: 30px;">


        <!--
                <div class="ua-news-wrapper" id="blog" style="min-height: 500px">


                </div>
        -->
        <div class="row">
            <div class="col-md-4"><img src="https://utility-aid.co.uk:3000/uaenergy/news/1494838467460-giles_hankinson.jpg" style="border: 3px solid #3697c2;    width: 300px;"></div>
            <div class="col-md-8">
                <div class="news-title heading1" style="color: #3697c2;font-weight: bold">Passionately Frustrated: Giles Hankinson, CEO of UA Energy, discusses
                    Not
                    For Profit organisations

                </div>
                <p class="pull-right news-date" style="color: #1D282F">17 May 2017</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="description1" style="color:black;padding: 20px 0px">When we've exhausted house prices, schools, the weather, politics
                    and other
                    such topics of global importance, I often find myself talking to my friends about not for profit
                    organisations.
                    Honestly, I do. And I still remain regularly surprised. Not, as you may think, about how this becomes a
                    topic of
                    conversation at all, but rather about their assumptions and attitudes to the principal.<br><br>The cry is
                    often
                    heard that the people running the organisations aren't in the business of running a proper business. After
                    all,
                    they have no need to watch the profits. After my now customary outburst of incredulity dies down, I remind
                    them
                    that profit and efficiency are the very things that these organisations must watch like a hawk watches its
                    next
                    meal. Becoming more efficient to these types of businesses means they can reinvest any savings they make
                    into
                    providing better outcomes for the people they support. Money saved sensibly in one place is a chance to do
                    some
                    good in another. <br><br>I guess my incredulity extends to frustration because I'm incredibly passionate
                    about
                    what my business does. Passionate that we help organisations get the very best energy prices. Passionate
                    that
                    this allows them to "pass it on", often to people who need it most. And passionate that I have a job that
                    lets
                    me keep my conscience in a good place.<br><br>This passion extends to our regular support of the
                    organisations
                    we help. We're delighted, for example, to be sponsoring the Scottish Federation of Housing Associations'
                    Annual
                    Conference. It's us giving back, just like they do.<br><br>One final thought I'd like to share is on
                    regulation.
                    You probably won't be surprised to hear it's something I'm both passionate and frustrated about. There's a
                    running theme here. The need for our own industry has never been more apparent. The big six firms don't seem
                    too
                    keen, worried no doubt about their erosion of profits. Yet regulation would bring a far fairer playing field
                    for
                    all and, ultimately, financial benefit to thousands of businesses and hundreds of thousands of people who
                    need
                    it. That's certainly something worth fighting for.<br><br>This blog is the first in a number of ones coming
                    soon. We want to show the importance of what we do and how it makes a real difference to so many worthwhile
                    and
                    socially important organisations. <br><br>We think it's a great story and worth sharing. We hope you do too.<br>
                </p>
            </div>
        </div>







    </div>
</section>
<style>
    .header {
        background: url('../img/blog/news.jpg') no-repeat 25% fixed;
        background-position-y: 40%;
        display: table;
        position: relative;
        width: 100%;
        height: 70%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    @media (max-width: 768px) {
        .header {
            background-attachment: scroll;
        }
    }
</style>
