<footer>
    <div class="container" style="padding: 10px">
        <div class="row">
            <div class="col-md-7">
                <div class="sp"><a href="/privacy-policy/">Privacy Policy</a>
                    <a href="/environmental-policy/">Environmental Policy</a>
                    <a href="/bribery-act-statement/">Bribery Act Statement</a></div>

                <div class="sp legal"><span>UA is part of Utility Aid LTD. Company No. 04408718. Registered in England &amp; Wales.</span>
                </div>
            </div>
            <div class="col-md-5">

                <form  class="inner-form" action="http://newsletter.utility-aid.co.uk/t/i/s/diwe/" method="post" id="subForm" >
                    <h4 style="font-size: 19.5px">Subscribe to our newsletter</h4>

                    <input type="email" class="form-control" placeholder="Your email address"  id="fieldEmail" name="cm-diwe-diwe"
                           name="email">
                    <button type="submit" class="btn btn-default">Go</button>


                </form>
            </div>
        </div>
    </div>
</footer>
<style>
    footer .inner-form input.form-control{
        height: 38px;
    }
    .form-control{
        height: 38px;
    }
</style>